body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cookie-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

.cookie-banner button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.cookie-banner button:hover {
    background-color: #45a049;
}


/* Alinear el formulario al centro */
form {
    /*max-width: 25%; -> Esto adapta el ancho del formulario a un tamaño fijo*/
    width: max-content; /* -> Este sin embargo se adapta al tamaño del elemento más ancho del formulario*/
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label{
    display: inline;
    width: 80px;
    white-space: nowrap; /* Evita el salto de línea en los label con varias palabras*/ 
}

input {
    padding: 5px;
    width: 100%;
}

button{
    font-size: 12px;
    font-weight: bold;
    position: relative;
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 6px;
    background: black;
    cursor: pointer;
    display: block; /*Con esta línea y la de abajo centro el botón display: flex; tb valdría */
    margin: 20px auto; 
}

button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg, 
        red, blue, deeppink, blue, red, blue, deeppink, blue
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite
}

@keyframes glowing{
    0% {
        background-position: 0 0;

    }
    50% {
        background-position: 400% 0;
        
    }
    100% {
        background-position: 0 0;
        
    }
}

.centered-title { /* La creo para centrar los títulos de los formularios */
    margin: 0 auto; /* Centro horizontal automático */
    text-align: center; /* Alineación de texto si hay contenido adicional */
}





